# Subfolders that start with "_" and their contents
_*/

# Files that start with "_"
_*

# Log folders and files
logs/
*.log

# Test folders
test/

# # # Subfolders that consist of numbers indicating date ("20190122").
# /[0-9]{8}/

# Large size files
Materials/
RawData/